<div class="search-input-holder">
  <div class="search-input">
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput
            type="search"
            placeholder="search here"
            (keydown.enter)="searchFromGit()"
            [(ngModel)]="searchInput"
            class="search-input">
      <button class="search-button" (click)="searchFromGit()" [disabled]="isLoading | async">Search</button>
    </mat-form-field>
  </div>
</div>
<div class="search-list-holder">
    <app-bookmarks-list [bookmarkList]="searchList"
                        [isShowBookmarkButton]="true"
                        (onBookmarkAdd)="onAddNewBookmark($event)"
    >
    </app-bookmarks-list>
    <app-default-loader></app-default-loader>
</div>
