<ul class="search-list" *ngIf="bookmarkList.length > 0">
  <li class="search-item" *ngFor="let searchItem of bookmarkList">
      <span class="avatar-holder">
          <img src="{{searchItem.avatarurl}}" alt="{{searchItem.name}}">
        </span>
    <span class="item-name">{{searchItem.name}}</span>

    <button type="button"
            *ngIf="isShowBookmarkButton"
            class="bookmark-button"
            [appAddBookmark]="searchItem"
            (onBookmarkAdd)="addNewBookmark($event)">
        <mat-icon matPrefix>bookmark</mat-icon>
    </button>
  </li>
</ul>
<span class="search-list-empty" *ngIf="bookmarkList.length == 0">
    <div *ngIf="isLoading | async; else justEmpty">
        Searching...
    </div>

    <ng-template #justEmpty>
        Empty list
    </ng-template>
</span>
